<header class="app-header bg-primary text-white py-4 shadow mb-3">
    <div class="container">
      <div class="row align-items-center justify-content-between">
        
        <!-- Header Content -->
        <div class="col-md-8 text-center align-items-center text-md-start mb-3 mb-md-0">
          <h1 class="h3">🚆 ระบบแผนที่รถไฟฟ้า BTS กรุงเทพฯ</h1>
        </div>
  
        <!-- Navbar / Menu -->
        <div class="col-md-4 d-flex justify-content-center justify-content-md-end">
          <app-manu2 class="d-flex gap-3"></app-manu2>
        </div>
  
      </div>
    </div>
  </header>