
<nz-table #basicTable [nzBordered]="true" [nzData]="discountList" [nzSize]="'middle'" [nzShowPagination]="false">
    <thead>
      <tr>
        <th nzWidth="10%">ID</th>
        <th nzWidth="20%">Discount%</th>
        <th nzWidth="20%">customerTypeName</th>
        <th nzWidth="20%">edit</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of discountList; index as i">
        <td>{{ data.id }}</td>
        <td>{{ data.discount }}</td>
        <td>{{ data.cutomerTypeName }}</td>
        <td class="text-center">
          <button class="btn btn-success" (click)="editDiscount(data, i)">
            Edit
          </button>
        </td>
      </tr>
    </tbody>
  </nz-table>
  <div class="text-center mt-3">
    <button class="btn btn-primary submit-btn" (click)="submitDiscount()">Submit</button>
  </div>


  <!-- Modal -->
<div class="modal fade" bsModal #discountMoadl="bs-modal" id="exampleModal" tabindex="-1" role="dialog"
aria-labelledby="exampleModalLabel" aria-hidden="true">
<div class="modal-dialog" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title" id="exampleModalLabel">Discount</h5>
    </div>
    <div class="modal-body">
      <div class="form-group">
        <label>ID</label>
        <input nz-input type="text" class="form-control" placeholder="Enter ID" [(ngModel)]="discountData.id" disabled />
      </div>
      <div class="form-group">
        <label>Discount</label>
        <input nz-input type="text" class="form-control" placeholder="Enter Station Count"
          [(ngModel)]="discountData.discount" />
      </div>
      <div class="form-group">
        <label>customerType</label>
        <input nz-input type="text" class="form-control" placeholder="Enter Fare" [(ngModel)]="discountData.discountType"disabled />
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-custom" (click)="closeDiscountModal()">Close</button>
        <button type="button" class="btn btn-custom" (click)="saveDiscount()">Save</button>
      </div>
    </div>
  </div>
</div>
</div>